<div class="container login-container">
    <div class="row">
        <div class="col-md-12 login-form-1">
            <h3>Catastro Online</h3>
            <form>
                <div class="d-flex flex-column justify-content-center align-items-center">
                    <div class="w-50 d-flex flex-column">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Your Email *" value="" />
                        </div>
                        <div class="form-group">
                            <input type="password" class="form-control" placeholder="Your Password *" value="" />
                        </div>
                        <div class="form-group remember">
                            <input class="form-control" type="checkbox" name="" />
                            Remember me
                        </div>

                        <div class="form-group">
                            <input type="submit" class="btn btn-outline-primary" value="Login" />
                        </div>
                        <div class="form-group">
                            <a href="#" class="ForgetPwd">Forget Password?</a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>