/* You can add global styles to this file, and also import other style files */
$color-red: #af1f08;
$color-gray-light: #e6e6e6;
$color-gray-dark: #5a5a5a;

.title-principal {
    color: $color-red;
}